<div id="custom-1">
  <div id="custom-2">
    <div id="custom-3">
      <app-preview />
    </div>
    <div id="custom-4">
      <app-pick-image />
      <app-pick-quote />
      <app-pick-name />
      <div id="custom-5">
        <div id="custom-6">
          <app-quantity id="app-quantity" />
          <app-price id="app-price" />
        </div>
        <div id="custom-7">
          <app-add-to-cart />
        </div>
      </div>
    </div>
  </div>
  <div id="custom-333">
    <app-preview />
    <app-pick-image />
    <app-pick-quote />
    <app-pick-name />
    <app-quantity />
    <app-price />
    <app-add-to-cart />
  </div>
</div>
