<div id="custom-8">
  <h1 id="custom-9">Plate preview</h1>
  <div id="htmlData">
    <div id="custom-11">
      <img id="custom-12" [src]="sharedService.image" alt="" />
    </div>
    <div>
      <h2 id="custom-13">
        {{ sharedService.quote }}
      </h2>
      <div id="custom-14">
        <img id="custom-15" src="/assets/left.png" alt="" />
        <div id="custom-16">
          <h1 id="custom-17">
            {{ sharedService.name }}
          </h1>
        </div>
        <img id="custom-18" src="/assets/right.png" alt="" />
      </div>
    </div>
  </div>
</div>
